@model Factory.Models.Machine

<h2>Add Engineer</h2>

<h4>Add an engineer for this machine: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Select Engineer")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Save">
}

<p>Didn't see the engineer you were looking for? @Html.ActionLink("Add Engineer here", "Create", "Engineers")</p>

<p>@Html.ActionLink("Back to machine list", "Index")</p>