@model Factory.Models.Engineer

<h4>Edit this engineer: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  <p>@Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)</p>

  <p>@Html.LabelFor(model => model.HireDate)
  @Html.TextBoxFor(model => model.HireDate, "{0:d MMM yyyy}", new {@type="date"})</p>

  <p><button class="btn" type="submit">Add Engineer</button></p>
}

<p>@Html.ActionLink("Back to list", "Index")</p>