@model Factory.Models.Machine

<h2>Machine Details</h2>
<h3>Machine Name: @Html.DisplayFor(model => model.Name)</h3>
<h4>Description: @Html.DisplayFor(model => model.Description)</h4>
<h4>In Operation:  @if(@Model.InOperation==true){
                        <span>Yes</span>
                      }else {
                        <span>No</span>
                      }     
</h4>
@if (@Model.JoinEntities.Count == 0)
{
  <p>You have not entered any engineers licensed to work on this machine yet.</p>
}
else
{
  <h4>Engineers licensed to work on this machine:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Film.Name</li>
    @using (Html.BeginForm("DeleteFilm", "Actor"))
    {
      @Html.Hidden("joinId", @join.ActorFilmId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Add Film", "AddFilm", new { id = Model.ActorId })</p>
<p>@Html.ActionLink("Edit Actor", "Edit", new { id = Model.ActorId })</p>
<p>@Html.ActionLink("Delete Actor", "Delete", new { id = Model.ActorId })</p>
<p>@Html.ActionLink("Return to Home", "Index")</p>